<div class="backgroud">
  <div class="page">

    <div *ngFor="let proj of projeto" class="editarProjeto">
      <h2>Editar Projeto</h2>
      <form [formGroup]="formProjeto" (ngSubmit)="onSubmit()">
          <div class="nomeProjeto">
              <input type="text" formControlName="nome_projeto" placeholder="Digite o nome do projeto">
          </div>

          <div *ngIf="!formProjeto.get('nome_projeto')?.valid && formProjeto.get('nome_projeto')?.touched">
            <p class="erroValid">O nome do projeto é obrigatório.</p>
          </div>

          <div class="addEquipe">
            <h3>Equipe</h3>
          </div>

          <!--
          <select class="equipes" formControlName="id_equipe">
              <option *ngIf="proj.id_equipe" value="">Remover Equipe</option>
              <option *ngIf="proj.id_equipe" [value]="proj.id_equipe" selected>{{ proj.nome_equipe }}</option>
              <option *ngFor="let equipe of equipes" [value]="equipe.id_equipe">{{ equipe.nome_equipe }}</option>
          </select>
          -->

          <div class="finalizar">
              <button *ngIf="!formProjeto.get('nome_projeto')?.valid" disabled>Finalizar</button>
              <button *ngIf="formProjeto.get('nome_projeto')?.valid" type="submit">Finalizar</button>
          </div>
      </form>
  </div>

  </div>
</div>
