<div class="backgroud">
    <div class="page">

      <div class="criarNovaEquipe">
        <form [formGroup]="formEquipe" (ngSubmit)="onSubmit()">
            <h2>Nova Equipe</h2>
            <div class="nomeEquipe">
              <input type="text" formControlName="nome_equipe" placeholder="Digite o nome da equipe">
            </div>

            <div *ngIf="!formEquipe.get('nome_equipe')?.valid && formEquipe.get('nome_equipe')?.touched">
              <p class="erroValid">O nome da equipe é obrigatório.</p>
            </div>

            <div *ngIf="colaboradoresAssociados.length > 0" class="colaboradores">
              <h3>Colaboradores</h3>
              <div *ngFor="let colab of colaboradoresAssociados">
                <div class="infoColaborador">
                  <div class="fotoDePerfil">
                    <img src="../../../../assets/icon.svg">
                  </div>
                  <p>{{ colab.nome_colaborado }}<p>
                  <p>{{ colab.atribuicao }}</p>
                  <div class="options">
                    <img src="../../../assets/excluir.svg" (click)="excluirColaboradoDaEquipe(colab.nome_colaborado)">
                  </div>
                </div>
              </div>
            </div>

            <form [formGroup]="formColaborado" (ngSubmit)="adicionaColaborado()">
              <div class="addColaborador">
                <div class="foto">
                  <input type="file" (change)="onFile($event)">
                </div>
                <div class="nome">
                  <input type="text" placeholder="Nome" formControlName="nome_colaborado" id="nome_colaborado">
                </div>
                <div class="atribuicao">
                  <input type="text" placeholder="Atribuição" formControlName="atribuicao">
                </div>
                <div class="add">
                  <button *ngIf="!formColaborado.get('nome_colaborado')?.valid" disabled>Adicionar colaborador</button>
                  <button type="submit" *ngIf="formColaborado.get('nome_colaborado')?.valid">Adicionar colaborador</button>
                </div>
              </div>
            </form>

            <div class="finalizar">
              <button *ngIf="!formEquipe.get('nome_equipe')?.valid" disabled>Finalizar</button>
              <button *ngIf="formEquipe.get('nome_equipe')?.valid" type="submit">Finalizar</button>
            </div>
        </form>

      </div>
    </div>
</div>
