<div class="backgroud-modal">
  <div class="boxForm">
    <img class="fechar" (click)="fechar()" src="../../../../../../assets/x.svg">
    <h2>Editar Tarefa</h2>
    <form [formGroup]="formTarefa" (ngSubmit)="onSubmit()">
        <div class="nomeTarefa">
            <input type="text" formControlName="nome_tarefa" placeholder="Digite o nome da tarefa">
        </div>

        <div *ngIf="!formTarefa.get('nome_tarefa')?.valid && formTarefa.get('nome_tarefa')?.touched">
          <p class="erroValid">O nome do projeto é obrigatório.</p>
        </div>

        <div class="descricao">
          <textarea type="" formControlName="descricao" placeholder="Digite a descrição da tarefa"></textarea>
        </div>

        <div *ngIf="!formTarefa.get('descricao')?.valid && formTarefa.get('descricao')?.touched">
          <p class="erroValid">Máximo de 300 caracteres.</p>
        </div>

        <div *ngIf="colaboradores.length > 1" class="addColaborado">
          <h3>Colaborado</h3>
        </div>

        <select *ngIf="colaboradores.length > 1" class="colaboradores" formControlName="id_colaborado">
          <option value="tarefa.id_colaborado" selected disabled>{{ tarefa.name }}</option>
          <option *ngFor="let colaborado of colaboradores" [value]="colaborado.id">{{ colaborado.name }}</option>
        </select>

        <div class="finalizar">
            <button type="submit">Finalizar</button>
        </div>
    </form>
  </div>
</div>
