<div class="backgroud-modal">
  <div class="boxForm">
    <img class="fechar" (click)="fechar()" src="../../../../../../assets/x.svg">
    <h2>Editar Tarefa</h2>
    <form [formGroup]="formTarefa" (ngSubmit)="onSubmit()">
        <div class="nomeTarefa">
            <input type="text" formControlName="name" placeholder="Digite o nome da tarefa">
        </div>

        <div *ngIf="!formTarefa.get('name')?.valid && formTarefa.get('name')?.touched">
          <p class="erroValid">O nome do projeto é obrigatório.</p>
        </div>

        <div class="descricao">
          <textarea type="" formControlName="description" placeholder="Digite a descrição da tarefa"></textarea>
        </div>

        <div *ngIf="!formTarefa.get('description')?.valid && formTarefa.get('description')?.touched">
          <p class="erroValid">Máximo de 300 caracteres.</p>
        </div>

        <div *ngIf="colaboradores.length > 0" class="addColaborado">
          <h3>Colaborado</h3>
        </div>

        <select *ngIf="colaboradores.length > 0" class="colaboradores" formControlName="contributor">
          <option [value]="tarefa.contributor" *ngIf="tarefa.contributor" selected disabled>{{ tarefa.contributor_name }}</option>
          <option [value]="null" *ngIf="tarefa.contributor">Remove Colaborador</option>
          <option *ngFor="let colaborado of colaboradores" [value]="colaborado.id">{{ colaborado.name }}</option>
        </select>

        <div class="finalizar">
            <button type="submit">Finalizar</button>
        </div>
    </form>
  </div>
</div>
