<div class="backgroud">
    <div class="page">

        <div class="criarNovoProjeto">
            <h2>Novo projeto</h2>
            <form [formGroup]="formProjeto" (ngSubmit)="onSubmit()">
                <div class="nomeProjeto">
                    <input type="text" formControlName="name" placeholder="Digite o nome do projeto">
                </div>

                <div *ngIf="!formProjeto.get('name')?.valid && formProjeto.get('name')?.touched">
                  <p class="erroValid">O nome do projeto é obrigatório.</p>
                </div>

                <div class="addEquipe">
                  <h3>Equipe</h3>
                </div>

                <select class="equipes" formControlName="team">
                    <option value="" disabled selected hidden>Selecione a equipe</option>
                    <option *ngFor="let equipe of equipes" [value]="equipe.id">{{ equipe.name }}</option>
                </select>

                <div class="finalizar">
                    <button *ngIf="!formProjeto.get('name')?.valid" disabled>Finalizar</button>
                    <button *ngIf="formProjeto.get('name')?.valid" type="submit">Finalizar</button>
                </div>
            </form>
        </div>

    </div>
</div>
