<div [@transicaoProjetos]="state" *ngFor="let projeto of projetos" class="proj">
  <div *ngIf="!load" class="projeto">
    <h2>{{ projeto.name }}</h2>
    <div>
      <img class="excluir-equipe" src="../../../assets/excluir.svg" (click)="modalExclusao(projeto.id)">
      <img routerLink="/editaProjeto/{{projeto.id}}" class="edit-equipe" src="../../../assets/edit.svg">
    </div>

   <h3>{{ projeto.team?.name }}</h3>

    <app-lista-colaboradores *ngIf="projeto.team" [colaboradores]="projeto.team.contributors!"></app-lista-colaboradores>

    <div class="tarefas">
      <h3>Tarefas</h3>
      <app-lista-tarefas [tarefas]="projeto.tasks" (getTarefasProjeto)="getProjetos()" [id_projeto]="projeto.id" [id_equipe]="projeto.team?.id"></app-lista-tarefas>
    </div>

  </div>

</div>

<div *ngIf="load && !error" class="loadingdiv">
  <p class="loading"></p>
</div>

<div class="errordiv" *ngIf="error">
  <div class="error">
    <h2>Erro!</h2>
    <p>{{ error }}</p>
  </div>
</div>

<app-confimar-exclusao
*ngIf="modalExcluir"
(fechaModal)="modalExclusao()"
[mensagem]="mensagemExclusaoProjeto"
[id]="idExlusaoProjeto"
(deleta)="deletaProjeto($event)"
></app-confimar-exclusao>