.backgroud-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.addColaborador{
    border: rgba(0, 0, 0, 0.10) solid 1px;
    width: 35rem;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    background: #F4F5FA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.addColaborador div{
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all ease 300ms;
    font-size: 1rem;
    width: 30rem;
    border-radius: .5rem;
}

.addColaborador .fechar{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .8;
    transition: all ease 500ms;
}

.addColaborador .fechar:hover{
    opacity: 1;
}

.foto{
    margin: 3rem;
}

.nome{
    display: flex;
    width: 20rem;
    margin: 1.5rem 0rem;
}

.nome label{
    width: 3.5rem;
}

.nome input{
    width: 26rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: rgba(0, 0, 0, 0.10) solid 1px;
    font-size: 1rem;
    padding-left: 1rem;
}

.atribuicao{
    display: flex;
    width: 20rem;
    margin: 1.5rem 0rem;
}

.atribuicao label{
    width: 5rem;
}

.atribuicao input{
    width: 24.5rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: rgba(0, 0, 0, 0.10) solid 1px;
    font-size: 1rem;
    padding-left: 1rem;
}

.add{
    margin-top: 1.5rem;
}

.add button{
    font-size: 1rem;
    font-weight: bold;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    background: #F56E28;
    cursor: pointer;
    transition: all ease 500ms;
    color: #ffff;
}

.add button:hover{
    background: #083D93;
}